@import "https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i";
@import "animate.min.css";
@import "normalize.css";
@import "meanmenu.css";
@import "owl.carousel.min.css";
@import "slick.css";
@import "jquery-ui.css";
@import "nice-select.css";

* {
box-sizing:border-box!important;
transition:ease all .5s;
}

html {
scroll-behavior:smooth;
}

body {
color:#666666;
font-size:14px;
font-family:poppins;
line-height:1.80857;
font-weight:normal;
overflow-x:hidden;
}

a {
color:#1f1f1f;
text-decoration:none!important;
outline:none!important;
-webkit-transition:all .3s ease-in-out;
-moz-transition:all .3s ease-in-out;
-ms-transition:all .3s ease-in-out;
-o-transition:all .3s ease-in-out;
transition:all .3s ease-in-out;
}

h1,h2,h3,h4,h5,h6 {
letter-spacing:0;
font-weight:normal;
position:relative;
padding:0 0 10px;
font-weight:normal;
line-height:normal;
color:#111111;
margin:0;
}

h1 {
font-size:24px;
}

h2 {
font-size:22px;
}

h3 {
font-size:18px;
}

h4 {
font-size:16px;
}

h5 {
font-size:14px;
}

h6 {
font-size:13px;
}

*,::after,::before {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
color:#212121;
text-decoration:none!important;
opacity:1;
}

button:focus {
outline:none;
}

ul,li,ol {
margin:0;
padding:0;
list-style:none;
}

p {
margin:0;
font-weight:300;
font-size:15px;
line-height:24px;
}

a {
color:#222222;
text-decoration:none;
outline:none!important;
}

a,.btn {
text-decoration:none!important;
outline:none!important;
-webkit-transition:all .3s ease-in-out;
-moz-transition:all .3s ease-in-out;
-ms-transition:all .3s ease-in-out;
-o-transition:all .3s ease-in-out;
transition:all .3s ease-in-out;
}

img {
max-width:100%;
height:auto;
}

:focus {
outline:0;
}

.btn-custom {
margin-top:20px;
background-color:transparent!important;
border:2px solid #ddd;
padding:12px 40px;
font-size:16px;
}

.lead {
font-size:18px;
line-height:30px;
color:#767676;
margin:0;
padding:0;
}

.form-control:focus {
border-color:#ffffff!important;
box-shadow:0 0 0 .2rem rgba(255,255,255,.25);
}

.navbar-form input {
border:none!important;
}

.badge {
font-weight:500;
}

blockquote {
margin:20px 0;
padding:30px;
}

button {
border:0;
margin:0;
padding:0;
cursor:pointer;
}

.full {
float:left;
width:100%;
}

.layout_padding {
padding-top:90px;
padding-bottom:90px;
}

.layout_padding_2 {
padding-top:75px;
padding-bottom:75px;
}

.light_silver {
background:#f9f9f9;
}

.theme_bg {
background:#38b0c8;
}

.margin_top_30 {
margin-top:30px!important;
}

.full {
width:100%;
float:left;
margin:0;
padding:0;
}

.main_heading {
text-align:center;
display:flex;
justify-content:center;
position:relative;
margin-bottom:50px;
}

.main_heading h2 {
padding:0;
font-size:48px;
line-height:60px;
font-weight:400;
position:relative;
letter-spacing:-.5px;
color:#114c7d;
border-left:solid #38b0c8 10px;
padding-left:15px;
}

.main_heading h2 strong {
background:#38b0c8;
color:#fff;
font-weight:600;
padding:0 15px;
line-height:68px;
}

.white_heading_main h2 {
color:#fff;
}

.small_main_heading {
margin-top:25px;
float:left;
width:100%;
border-bottom:solid rgba(0,0,0,0.07) 1px;
margin-bottom:25px;
}

.small_main_heading h2 {
padding:2px 0 20px;
color:#114c7d;
font-weight:400;
font-size:28px;
background-repeat:no-repeat;
padding-left:55px;
letter-spacing:-.5px;
}

.small_main_heading h2 strong {
color:#38b0c8;
font-weight:600;
}

.main_bt {
background:#ee580f;
color:#fff;
padding:15px 60px;
float:left;
font-size:15px;
font-weight:400;
border:solid #ee580f 2px;
border-radius:30px;
margin:15px 0 60px;
}

a.readmore_bt {
color:#fff;
font-weight:300;
text-decoration:underline!important;
}

.main_bt:hover,.main_bt:focus {
background:#000;
border:solid #000 2px;
color:#fff;
}

.header {
font-family:poppins;
padding:10px 0;
background:#242852;
background-repeat:no-repeat;
background-size:100% 100%;
background-position:center center;
}

.logo {
float:left;
position:relative;
padding-top:2px;
}

nav.main-menu {
float:right;
margin-left:0;
}

ul.top_icon {
float:right;
padding-top:17px;
}

ul.top_icon li {
float:left;
color:#fff;
display:flex;
flex-wrap:wrap;
align-items:center;
padding-right:20px;
}

ul.top_icon li:last-child {
padding-right:0;
}

ul.top_icon li a {
color:#fff;
}

.main-menu {
text-align:center;
}

.main-menu ul {
margin:0;
list-style-type:none;
margin-bottom:10px;
}

.main-menu ul>li {
display:inline-block;
position:relative;
}

.main-menu ul>li a {
line-height:20px;
font-size:16px;
display:block;
font-weight:500;
color:#fff;
padding:19px 17px;
}

.location_icon_bottum_tt {
width:100%;
}

.location_icon_bottum_tt ul li {
display:inline-block;
padding:27px 60px;
color:#fff;
font-size:15px;
font-weight:500;
}

.location_icon_bottum_tt ul li img {
padding-right:10px;
}

.location_icon_bottum {
position:relative;
z-index:999;
background:#090501;
margin-left:31px;
top:0;
margin-bottom:-43px;
}

.location_icon_bottum::before {
position:absolute;
content:"";
top:0;
background:url(../icon/wfe4.png);
background-repeat:repeat;
width:67px;
height:67px;
background-repeat:no-repeat;
left:-35px;
}

.location_icon_bottum ul li {
display:inline-block;
padding:0 10px;
color:#fff;
font-size:15px;
font-weight:500;
}

.location_icon_bottum ul li img {
padding-right:10px;
}

.relative {
position:absolute;
top:50%;
transform:translateY(-50%);
text-align:left;
bottom:auto;
}

.banner-main {
position:relative;
font-family:poppins;
}

.carousel-indicators li {
width:25px;
height:25px;
border-radius:15px;
background-color:#242852;
}

#myCarousel .carousel-indicators li {
margin-bottom:40px;
}

.banner-main .carousel-item img {
width:100%;
}

#myCarousel a.carousel-control-prev {
display:none;
}

#myCarousel a.carousel-control-next {
display:none;
}

.carousel-indicators .active {
background-color:#e6e32f;
}

.banner-main .carousel-caption span {
font-size:50px;
font-weight:bold;
line-height:60px;
color:#e6e32f;
text-transform:uppercase;
padding-bottom:10px;
display:block;
}

.banner-main .carousel-caption h1 {
color:#fff;
font-size:110px;
line-height:84px;
font-weight:bold;
padding-bottom:20px;
text-transform:uppercase;
}

.banner-main .carousel-caption p {
font-size:25px;
line-height:31px;
padding:6px 0 50px;
}

.banner-main .carousel-caption .buynow {
border:#fff solid 1px;
background:#fff;
width:190px;
padding:8px 0;
display:inline-block;
font-weight:500;
font-size:17px;
line-height:30px;
color:#000;
text-align:center;
border-radius:10px;
margin-right:20px;
}

.banner-main .carousel-caption .buynow:hover {
border:#242852 solid 1px;
background:#242852;
color:#fff;
}

#myCarousel a.carousel-control-next {
position:absolute;
top:40%!important;
left:inherit!important;
right:17px!important;
width:70px;
height:70px;
border-radius:35px;
}

#myCarousel a.carousel-control-prev {
position:absolute;
top:40%!important;
left:17px!important;
width:70px;
height:70px;
border-radius:35px;
}

.black {
color:#33b9ce;
font-weight:208;
}

.title {
text-align:center;
padding-bottom:60px;
}

.title h2 {
padding:0 0 6px;
text-transform:uppercase;
font-weight:500;
color:#242852;
line-height:46px;
border-bottom:#242852 solid 1px;
font-size:50px;
max-width:374px;
width:100%;
margin:0 auto;
}

.about {
padding:90px 0;
}

.about .about_img figure {
margin:0;
}

.about .about_box {
text-align:left;
}

.about .about_box h2 {
font-weight:500;
font-size:43px;
color:#032f3f;
line-height:55px;
display:block;
text-transform:uppercase;
padding:0 0 6px;
border-bottom:#032f3f solid 1px;
}

.about .about_box p {
font-size:17px;
line-height:33px;
color:#4c4a49;
padding:40px 0;
font-weight:500;
}

.about .about_box a {
color:#fff;
font-size:17px;
line-height:29px;
background:#242852;
border:#242852 solid 1px;
padding:12px 40px;
display:inline-block;
width:231px;
text-align:center;
border-radius:18px;
}

.about .about_box a:hover {
color:#fff;
background:#e6e32f;
border:#e6e32f solid 1px;
}

.about_img {
margin-top:25px;
}

.about_img figure {
margin:0;
}

.about_img figure img {
width:100%;
}

.for_box_bg {
background:#242852;
padding:70px 0;
}

.for_box_bg .for_box {
text-align:center;
box-sizing:border-box;
}

.for_box_bg .for_box span {
font-weight:bold;
font-size:51px;
line-height:51px;
color:#e6e32f;
display:block;
padding:20px 0;
}

.for_box_bg .for_box h3 {
font-size:30px;
line-height:33px;
color:#fff;
}

.clients {
background:#fff;
}

.clients .titlepage {
padding-bottom:0;
}

.clients .titlepage h2 {
color:#000;
}

.clients_red {
background:#fff;
padding-bottom:50px;
}

.cross_inner h3 {
text-align:left;
padding-left:60px;
padding-top:58px;
font-size:30px;
line-height:25px;
padding-bottom:58px;
text-transform:uppercase;
}

.pa_right {
padding-right:0;
}

.pa_left {
padding-left:0;
}

.testimonial_cont p {
color:#fff;
background:#242852;
padding:40px 50px;
}

#testimonial_slider .carousel-indicators {
bottom:-50px;
}

#testimonial_slider .carousel-indicators li {
width:25px;
height:25px;
background-color:#242852;
border-radius:50px;
}

#testimonial_slider .carousel-indicators li.active {
background-color:#e6e32f;
}

.testimonial_cont {
background:#fff;
min-height:295px;
}

.text_align_center {
text-align:center;
}

.ornage_color {
color:#e6e32f;
text-transform:none;
font-size:20px;
line-height:10px;
}

.testomonial_img {
position:relative;
}

.testomonial_img:after {
position:absolute;
content:"";
background:url(../images/bg1.png);
background-repeat:no-repeat;
width:61px;
height:61px;
right:0;
bottom:-61px;
z-index:9999;
}

.testomonial_img i img {
border:#e6e32f solid 13px;
width:100%;
}

transform: skew(190deg);
.testimonial_cont h3 {
color:#000;
font-family:poppins;
}

.footer {
background:#242852;
padding:90px 0;
}

ul.loca li {
color:#fff;
padding-bottom:10px;
display:flex;
font-size:16px;
flex-wrap:wrap;
}

ul.loca li:last-child {
padding-right:0;
}

ul.loca li a {
padding-right:16px;
color:#fff;
margin-top:4px;
}

ul.Links_footer {
list-style:none;
margin:0;
padding:0;
width:100%;
float:left;
}

ul.Links_footer li a {
display:block;
color:#fff;
font-size:17px;
padding-left:16px;
margin-top:-34px;
}

ul.Links_footer li a:hover {
color:#0d4688;
}

ul.Links_footer li {
padding-bottom:15px;
color:#215d7f;
}

.hhh {
margin-bottom:15px;
}

.footer .newsletter h3 {
color:#fff;
font-size:17px;
line-height:30px;
display:block;
padding-bottom:25px;
text-transform:uppercase;
}

.footer .address .form-control {
padding:10px 15px;
border:#ddd solid 1px;
margin-bottom:20px;
box-shadow:inherit;
border-radius:10px;
}

.address h3 {
color:#fff;
font-size:29px;
font-weight:500;
padding-top:15px;
padding-bottom:3px;
border-bottom:#215d7f solid 4px;
margin-bottom:20px;
width:226px;
}

.address img {
padding-bottom:10px;
}

.address p {
color:#fff;
padding-bottom:20px;
font-size:18px;
line-height:30px;
}

.form-control:focus,.form-control:hover {
border:#ddd solid 1px!important;
}

.footer .address .submit-btn {
padding:8px 45px;
border:#0d4688 solid 1px;
background:#0d4688;
color:#fff;
font-weight:500;
font-size:19px;
border-radius:10px;
}

.footer .address .submit-btn:hover {
background:#fff;
border:#fff solid 1px;
color:#0d4688;
}

.copyright {
background:#0d4688;
padding:20px 0;
}

.copyright p {
color:#fff;
font-size:16px;
text-align:center;
text-align:center;
margin:0 auto;
}

.copyright a {
color:#ffff;
}

.copyright a:hover {
color:#000;
}

.btn-primary.focus,.btn-primary:focus {
box-shadow:inherit;
}
