<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
>
    <servlet>
        <servlet-name>FromController</servlet-name>
        <servlet-class>FromController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FromController</servlet-name>
        <url-pattern>/FromController</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>  
  		 <welcome-file>validation.html</welcome-file>  
   	</welcome-file-list>

</web-app>